In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
CW=pd.read_csv('data/process/crop_weather_cleaned_M1.csv')

In [5]:
soil=pd.read_csv("data/process/soil_clean_N1.csv")

In [6]:
fertilizer=pd.read_csv("data/process/Fertilizer_clean_N1.csv")

In [9]:
CW_1=CW.copy()

In [10]:
CW_1

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall_Rabi,Rainfall_Kharif,Annual_Kharif
0,AndhraPradesh,Anantapur,1997,Kharif,Arhar/Tur,21400,2600,156.0,322.0,572.0
1,AndhraPradesh,Anantapur,1997,Kharif,Bajra,1400,500,156.0,322.0,572.0
2,AndhraPradesh,Anantapur,1997,Kharif,Castor Seed,1000,100,156.0,322.0,572.0
3,AndhraPradesh,Anantapur,1997,Kharif,Cotton(Lint),7300,9400,156.0,322.0,572.0
4,AndhraPradesh,Anantapur,1997,Kharif,Dry Chillies,3700,7100,156.0,322.0,572.0
...,...,...,...,...,...,...,...,...,...,...
166440,WestBengal,Purulia,2014,Summer,Rice,306,801,143.0,1094.0,1363.0
166441,WestBengal,Purulia,2014,Summer,Sesamum,627,463,143.0,1094.0,1363.0
166442,WestBengal,Purulia,2014,Whole Year,Sugarcane,324,16250,143.0,1094.0,1363.0
166443,WestBengal,Purulia,2014,Winter,Rice,279151,597899,143.0,1094.0,1363.0
166444,WestBengal,Purulia,2014,Winter,Sesamum,175,88,143.0,1094.0,1363.0

In [11]:
def clean_text(x):
    return str(x).strip().title()

for df in [CW_1, soil, fertilizer]:
    if 'State_Name' in df.columns:
        df['State_Name'] = df['State_Name'].apply(clean_text)
    if 'District_Name' in df.columns:
        df['District_Name'] = df['District_Name'].apply(clean_text)

In [12]:
merged1 = pd.merge(CW_1, soil, on='District_Name', how='left')

In [14]:
merged1.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall_Rabi,Rainfall_Kharif,Annual_Kharif,Zn,Fe,Cu,Mn,B,S
0,Andhrapradesh,Anantapur,1997,Kharif,Arhar/Tur,21400,2600,156.0,322.0,572.0,67.67,65.14,91.88,77.7,73.54,85.9
1,Andhrapradesh,Anantapur,1997,Kharif,Bajra,1400,500,156.0,322.0,572.0,67.67,65.14,91.88,77.7,73.54,85.9
2,Andhrapradesh,Anantapur,1997,Kharif,Castor Seed,1000,100,156.0,322.0,572.0,67.67,65.14,91.88,77.7,73.54,85.9
3,Andhrapradesh,Anantapur,1997,Kharif,Cotton(Lint),7300,9400,156.0,322.0,572.0,67.67,65.14,91.88,77.7,73.54,85.9
4,Andhrapradesh,Anantapur,1997,Kharif,Dry Chillies,3700,7100,156.0,322.0,572.0,67.67,65.14,91.88,77.7,73.54,85.9

In [15]:
merged1.shape

(168678, 16)

In [16]:
merged1.isnull().sum()

State_Name             0
District_Name          0
Crop_Year              0
Season                 0
Crop                   0
Area                   0
Production             0
Rainfall_Rabi          0
Rainfall_Kharif        0
Annual_Kharif          0
Zn                 14638
Fe                 14638
Cu                 14638
Mn                 14638
B                  14638
S                  14638
dtype: int64

In [17]:
final_data = pd.merge(merged1, fertilizer, on='State_Name', how='left')

In [18]:
final_data.head(
    
)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall_Rabi,Rainfall_Kharif,Annual_Kharif,...,fy_2015_16,fy_2016_17,fy_2017_18,fy_2018_19,fy_2019_20,fy_2020_21,fy_2021_22,fy_2022_23,fy_2023_24,fy_2024_25
0,Andhrapradesh,Anantapur,1997,Kharif,Arhar/Tur,21400,2600,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andhrapradesh,Anantapur,1997,Kharif,Bajra,1400,500,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andhrapradesh,Anantapur,1997,Kharif,Castor Seed,1000,100,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhrapradesh,Anantapur,1997,Kharif,Cotton(Lint),7300,9400,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andhrapradesh,Anantapur,1997,Kharif,Dry Chillies,3700,7100,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
final_data.tail()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall_Rabi,Rainfall_Kharif,Annual_Kharif,...,fy_2015_16,fy_2016_17,fy_2017_18,fy_2018_19,fy_2019_20,fy_2020_21,fy_2021_22,fy_2022_23,fy_2023_24,fy_2024_25
327933,Westbengal,Purulia,2014,Summer,Rice,306,801,143.0,1094.0,1363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327934,Westbengal,Purulia,2014,Summer,Sesamum,627,463,143.0,1094.0,1363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327935,Westbengal,Purulia,2014,Whole Year,Sugarcane,324,16250,143.0,1094.0,1363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327936,Westbengal,Purulia,2014,Winter,Rice,279151,597899,143.0,1094.0,1363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327937,Westbengal,Purulia,2014,Winter,Sesamum,175,88,143.0,1094.0,1363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
final_data.shape

(327938, 32)

In [20]:
final_data.isnull().sum()

State_Name                0
District_Name             0
Crop_Year                 0
Season                    0
Crop                      0
Area                      0
Production                0
Rainfall_Rabi             0
Rainfall_Kharif           0
Annual_Kharif             0
Zn                    25884
Fe                    25884
Cu                    25884
Mn                    25884
B                     25884
S                     25884
sector                98250
city                  98250
company               98250
manufacturing_unit    98250
fertiliser_type       98250
fy_2014_15            98250
fy_2015_16            98250
fy_2016_17            98250
fy_2017_18            98250
fy_2018_19            98250
fy_2019_20            98250
fy_2020_21            98250
fy_2021_22            98250
fy_2022_23            98250
fy_2023_24            98250
fy_2024_25            98250
dtype: int64

In [22]:
fertilizer['State_Name'].nunique(), fertilizer.shape

(19, (55, 17))

In [23]:
soil_cols = ['Zn', 'Fe', 'Cu', 'Mn','B','S']
for col in soil_cols:
    final_data[col] = final_data.groupby('State_Name')[col].transform(lambda x: x.fillna(x.mean()))

In [24]:
final_data.isnull().sum()

State_Name                0
District_Name             0
Crop_Year                 0
Season                    0
Crop                      0
Area                      0
Production                0
Rainfall_Rabi             0
Rainfall_Kharif           0
Annual_Kharif             0
Zn                      603
Fe                      603
Cu                      603
Mn                      603
B                       603
S                       603
sector                98250
city                  98250
company               98250
manufacturing_unit    98250
fertiliser_type       98250
fy_2014_15            98250
fy_2015_16            98250
fy_2016_17            98250
fy_2017_18            98250
fy_2018_19            98250
fy_2019_20            98250
fy_2020_21            98250
fy_2021_22            98250
fy_2022_23            98250
fy_2023_24            98250
fy_2024_25            98250
dtype: int64

In [25]:
final_data_copy=final_data.copy()

In [27]:
final_data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall_Rabi,Rainfall_Kharif,Annual_Kharif,...,fy_2015_16,fy_2016_17,fy_2017_18,fy_2018_19,fy_2019_20,fy_2020_21,fy_2021_22,fy_2022_23,fy_2023_24,fy_2024_25
0,Andhrapradesh,Anantapur,1997,Kharif,Arhar/Tur,21400,2600,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andhrapradesh,Anantapur,1997,Kharif,Bajra,1400,500,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andhrapradesh,Anantapur,1997,Kharif,Castor Seed,1000,100,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhrapradesh,Anantapur,1997,Kharif,Cotton(Lint),7300,9400,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andhrapradesh,Anantapur,1997,Kharif,Dry Chillies,3700,7100,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
final_data_copy.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Rainfall_Rabi,Rainfall_Kharif,Annual_Kharif,...,fy_2015_16,fy_2016_17,fy_2017_18,fy_2018_19,fy_2019_20,fy_2020_21,fy_2021_22,fy_2022_23,fy_2023_24,fy_2024_25
0,Andhrapradesh,Anantapur,1997,Kharif,Arhar/Tur,21400,2600,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andhrapradesh,Anantapur,1997,Kharif,Bajra,1400,500,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andhrapradesh,Anantapur,1997,Kharif,Castor Seed,1000,100,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhrapradesh,Anantapur,1997,Kharif,Cotton(Lint),7300,9400,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andhrapradesh,Anantapur,1997,Kharif,Dry Chillies,3700,7100,156.0,322.0,572.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
def clean_state(x):
    return str(x).strip().title()

fertilizer['State_Name'] = fertilizer['State_Name'].apply(clean_state)
final_data['State_Name'] = final_data['State_Name'].apply(clean_state)

In [32]:
fertilizer_cleaned = fertilizer.groupby('State_Name', as_index=False).mean(numeric_only=True)

In [33]:
print(fertilizer_cleaned['State_Name'].nunique(), fertilizer_cleaned.shape[0])

19 19

In [34]:
fert_cols = fertilizer_cleaned.columns.drop('State_Name')

for col in fert_cols:
    final_data[col] = final_data['State_Name'].map(fertilizer_cleaned.set_index('State_Name')[col])

In [35]:
final_data.isnull().sum()

State_Name                0
District_Name             0
Crop_Year                 0
Season                    0
Crop                      0
Area                      0
Production                0
Rainfall_Rabi             0
Rainfall_Kharif           0
Annual_Kharif             0
Zn                      603
Fe                      603
Cu                      603
Mn                      603
B                       603
S                       603
sector                98250
city                  98250
company               98250
manufacturing_unit    98250
fertiliser_type       98250
fy_2014_15            98250
fy_2015_16            98250
fy_2016_17            98250
fy_2017_18            98250
fy_2018_19            98250
fy_2019_20            98250
fy_2020_21            98250
fy_2021_22            98250
fy_2022_23            98250
fy_2023_24            98250
fy_2024_25            98250
dtype: int64

In [36]:
final_master = final_data.dropna()

In [38]:
final_master.shape

(229480, 32)

In [39]:
final_master.isnull().sum()

State_Name            0
District_Name         0
Crop_Year             0
Season                0
Crop                  0
Area                  0
Production            0
Rainfall_Rabi         0
Rainfall_Kharif       0
Annual_Kharif         0
Zn                    0
Fe                    0
Cu                    0
Mn                    0
B                     0
S                     0
sector                0
city                  0
company               0
manufacturing_unit    0
fertiliser_type       0
fy_2014_15            0
fy_2015_16            0
fy_2016_17            0
fy_2017_18            0
fy_2018_19            0
fy_2019_20            0
fy_2020_21            0
fy_2021_22            0
fy_2022_23            0
fy_2023_24            0
fy_2024_25            0
dtype: int64

In [40]:
final_master_copy=final_master.copy()

In [41]:
final_master_copy.to_csv("data/process/final_master_copy.csv",index=False)

In [42]:
final_master.to_csv("data/process/final_master.csv",index=False)

### -----------------------------------------------------------------------------------------------------------